#game-console{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(185, 85, 85, 0.658);

    .console-body{
        width: min(50vw,550px);
        height: 800px;
        background-color: red;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .console-screen{
            width: 90%;
            height: 400px;
            background-color: white;
            margin-top: 30px;
            border: 10px solid black;
            border-radius: 1%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btn-section{
            width: 90%;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dpad-wrapper{
                position:relative;
                width: 150px;
                height: 150px;

                > * :not(.center){
                    cursor: pointer;
                }

                .center{
                    border: 1px solid black;
                    position: absolute;
                    top:33%;
                    left: 33%;
                    width: 50px;
                    height: 50px;
                }

                .up-direction{
                    position: absolute;
                    top:0;
                    left: 33%;
                    transform: translate();
                    width: 50px;
                    height: 50px;
                    border: 1px solid black;
                    display: grid;
                    
                }

                .right-direction{
                    position: absolute;
                    top:33%;
                    right: 1%;
                    width: 50px;
                    height: 50px;
                    border: 1px solid black;
                    display: grid;
                    .arrow{
                        transform: rotate(90deg);
                    }
                }

                .down-direction{
                    position: absolute;
                    left:33%;
                    bottom: 1%;
                    width: 50px;
                    height: 50px;
                    border: 1px solid black;
                    display: grid;

                    .arrow{
                        transform: rotate(180deg);
                    }
                }

                .left-direction{
                    position: absolute;
                    top:33%;
                    left: 0.5%;
                    width: 50px;
                    height: 50px;
                    border: 1px solid black;
                    display: grid;

                    .arrow{
                        transform: rotate(270deg);
                    }
                }

                
            }
            .ab-btn{
                position:relative;
                width: 150px;
                height: 150px;

                .a-btn{
                    position: absolute;
                    top:0%;
                    right: 0%;
                    width: 75px;
                    height: 75px;
                    border: 1px solid blue;
                    background-color: blue;
                    border-radius: 50%;

                    h1{
                        position: inherit;
                        bottom: -50%;
                        right: 0%;
                        transform: rotate(-25deg);
                    }
                }

                .b-btn{
                    position: absolute;
                    bottom:0%;
                    left: 0%;
                    width: 75px;
                    height: 75px;
                    border: 1px solid blue;
                    background-color: blue;
                    border-radius: 50%;

                    h1{
                        position: inherit;
                        bottom: -50%;
                        right: 0%;
                        transform: rotate(-25deg);
                    }
                }
            }

        }
    }
}

.arrow{
    width: 50%;
    height: 50%;
    border-left: solid 20px transparent; 
    border-right: solid 20px transparent; 
    border-bottom: solid 30px #777;
    margin: auto;
}






